pypdf
langchain
langchain-community
sentence-transformers 
transformers
tqdm
faiss-cpu
pinecone
python-dotenv
ipywidgets
protobuf
bitsandbytes
timm
BitsAndBytesConfig
sentencepiece
tokenizers
accelerate==0.26.0
peft
trl
mistralai
streamlit